# Python
backend/venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
*.db
*.sqlite3
.env
.env.*
! .env.example

# Node
node_modules/
frontend/node_modules/
dist/
frontend/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.stylelintcache

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
uploads/
backend/uploads/
*.log
huggingfacetoken.txt
